button {
   width: 100%;
   height: 100%;
   font-size: 2rem;
   font-family: fantasy;
   &.x {
      background-color: #090836;
      color: rgb(255, 198, 91);
   }
   &.o {
      background-color: rgb(93, 248, 45);
      color: rgb(243, 4, 4);
   }
   &:disabled {
      opacity: 0.4;
   }
}
