/*-----------------------------------
    only IMPORT bootstrap GRID AND UTILS
---------------------------------------*/
//import di ogni singolo file utile
@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner(Grid);
@include bsBanner(Utilities);

$include-column-box-sizing: true !default;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
//eventuali map-merge o overwrite
$extra-spacers: (
   6: $spacer * 3.5,
   7: $spacer * 4,
);
$spacers: map-merge($spacers, $extra-spacers);

$purple-tree-colors: (
   "primary": purple,
);
$theme-colors: map-merge($theme-colors, $purple-tree-colors);

@import "../node_modules/bootstrap/scss/maps";

@import "../node_modules/bootstrap/scss/vendor/rfs";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

//ALL UTILITIES
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/utilities/api";

/*-------------------
    IMPORT abstract
-------------------*/
@import "scss/abstract/variables";
@import "scss/abstract/mixins";
@import "scss/abstract/functions";
@import "scss/abstract/reset";

/*-------------------
    IMPORT core
-------------------*/
@import "scss/core/typography";
@import "scss/core/layout";
@import "scss/core/buttons";
